---
layout: "layouts/index.njk"
title: Dockar
description: The solution for your documentation website projects, built with the 11ty eleventy jamstack static site generator - For speed, performance and SEO.
image: /media/img/dokaranime.jpeg
clone: git clone https://github.com/mesinkasir/dockar
download: https://creativitaz.gumroad.com/l/dockar
demo: https://captalinedoc.pages.dev/
features: 
 title: Features
 item: 
  - title: Build Using 11ty
    text: This project is fully running on 11ty for performance speed and stability.
    icon: lightning-charge
  - title: PageFind
    text: The search feature is fully supported using pagefind.
    icon: search-heart
  - title: Collaboration
    text: Easy collaboration on documentation projects, integrated with your github repo.
    icon: intersect
  - title: 11ty Image
    text: The 11ty image plugin will automatically convert your photo files to be lighter.
    icon: images
  - title: Youtube Lite
    text: Youtube lite makes it easier for you to embed videos faster and lighter.
    icon: youtube
 support: 
  - title: Bootstrap Icon
    icon: bootstrap
  - title: Eleventy Navigation
    icon: sliders
  - title: RSS Sitemap
    icon: rss
  - title: Table of Content
    icon: ui-checks
  - title: Pagination
    icon: cursor
  - title: Auto SEO
    icon: google
terminal: 
 - info: git clone https://github.com/mesinkasir/dockar
 - info:  cd dockar
 - info: npm install && npm start
 - info: localhost:8080
getstart: /doc/getstart/
documentation: /doc/introduction/
---
