---
layout: "layouts/sponsor.njk"
title: Sponsor
description: Thank you to the Sponsors who supported the dockar project.
image: /media/img/dokaranime.jpeg
button: 
 text: Be A Sponsor
 icon: cup-hot
 link: https://github.com/sponsors/mesinkasir
---
