<div class="mt-5">
<a href="{{download}}" class="btn bg-body-secondary border-secondary me-1">Download Now <i class="bi bi-download"></i></a>
<a href="{{demo}}" class="btn bg-body-tertiary border-secondary ms-1">Run Demo <i class="bi bi-rocket-takeoff"></i></a>
</div>