<div class="col-md-6 mx-auto">
<div class="container-fluid">
<div class="bg-dark text-white rounded mb-3 mt-5 shadow ">
<div class="border-bottom border-white col-12">
<div class="row p-1">
<h3 class="semi col-md-10 col-8 text-center mt-2">creativitas.dev</h3>
<p class="col-md-2 col-4 text-end">
<i class="bi bi-dash me-1"></i>
<i class="bi bi-fullscreen me-1"></i>
<i class="bi bi-x-square me-1"></i>
</p>
</div>
</div>
<div class="row">
<div class="col-12 p-3">
<pre  class="small text-white"><code>
{% for t in terminal %}<span class="p-3 p-md-5">{{t.info}}</span><br/>{% endfor %}</code></pre>
</div>
</div>
</div>
<div class="text-center p-3 col-12 mb-5">
<a href="{{getstart}}" class="btn bg-body-tertiary border-secondary me-3">Get Started</a>
<a href="{{documentation}}" class="btn bg-body-secondary border-secondary">Documentation</a>
</div>
</div>
</div>