<div class="container-fluid" id="addsite">
<div class="col-md-10 mx-auto mb-5">
<div class="row p-1 justify-content-center">
<div  class="col-md-8 mx-auto p-3 mb-5">
<h3>Add Your Website</h3>
<p>
1. Clone or fork our github repo , at https://github.com/mesinkasir/dockar
</p>
<p>
2. Upload your website project cover photo to <code>content/showcase/img/</code>
</p>
<p>
3. Next you can open on <code>content/showcase</code> 
</p>
<p>
4. Create new markdown file and name it with your website or project, and insert your website details.
<br/>
Example<br/>File Name: <code>creativitas.md</code><br/>
<small>Frontmatter Format</small></p>
<pre class="bg-dark text-white rounded shadow p-3"><code>
---
name: Your Project Name here..
about: Write your detail about your website project here...
image: /showcase/img/myimage.jpg
url: Your site url here...
---
</code></pre>
<p>Implementation</p>
<pre class="bg-dark text-white rounded shadow p-3"><code>
---
name: Creativitas Docs
about: Write your detail about your website project here...
image: /showcase/img/myimage.jpg
url: https://captalinedoc.pages.dev/
---
</code></pre>
<p>
5. Next you can create pull request or push on our github repo.
</p>
</div>
</div>
</div>
</div>