---
layout: "layouts/start.njk"
---
{% include "design/home/header_main.njk" %}
{% include "design/home/home_features.njk" %}
{% include "design/home/home_terminal.njk" %}
{% include "design/home/home_content.njk" %}
{% include "widget/showcase.njk" %}
{% include "widget/sponsor.njk" %}
{% include "widget/support.njk" %}